page-my-song {
  .range-timer {
    position:fixed; 
    bottom: 0; 
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(224, 224, 224, 0.54);
    ion-icon {
      font-size: 35px;
    }
  }
}
