<div class="container">
	<h1>Choose the best answer</h1>
	<hr>
	<div *ngFor=" let question of questions">
		<h4><span *ngIf="question.status=='Right'" class="glyphicon glyphicon-ok" style="color: green"></span>
		<span *ngIf="question.status && question.status!='Right'" class="glyphicon glyphicon-remove" style="color:red" ></span> {{question.question}}
		</h4>
		<div *ngIf="question.status && question.status!='Right'">
			<p style="color:red"> {{question.status}}</p>
		</div>
		<div *ngFor=" let option of question.answer">
			<div>
				<input type="radio" (click)="saveStatus(question,option.value)" name="{{question.id}}">
				<label> {{option.text}} </label>
			</div>
	  	</div>
	</div>
	<h4>Correct Answer: <b>{{ countCorrectAnswer}}</b></h4>
	<button class="btn btn-md btn-success" (click)="check()">Check answer </button>
	<br><br>

</div>