<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="player-inner row" *ngIf="unit">
        <div class="player-wrapper" *ngIf="unit">
            <h3>{{unit.unitTitle}}</h3>
            <div class="audio">
                <img alt="" src="{{unit.unitThumbnail}}" width="40%" >
                <p class="center" style="padding-top: 20px;">{{unit.unitSubTitle}}</p>
                <p class="center">{{unit.unitThreads}}</p>
                <p class="center">Thời gian: {{convertTime(unit.unitTime/1000)}}</p>
                <button *ngIf="!isTest && !isNotify" class="btn btn-primary" (click)="startTesting()">Bắt đầu</button>
            </div>

            <div *ngIf="isTest">
                <div class="status-start">
                    <h3>Bắt đầu làm bài</h3>
                </div>
                <div class="col-md-1 timer">
                    <h5>Time Remain</h5>
                    <h5>{{timeCountdown}}</h5>
                </div>
                <div class="question-content" *ngFor="let q of unit.question">
                    <fieldset>
                        <ul>
                            <li class="testYourEnglish">
                                <p>{{q.question}}</p>
                                <ul>
                                    <li *ngFor="let ans of q.anwsers">
                                        <input type="radio" name="{{q._id}}" (click)="chooseAns(q._id, ans.ansId)">
                                        {{ans.ansId}}. {{ans.ansContent}}
                                        <label></label>
                                    </li><br>
                                </ul>

                            </li>
                        </ul>
                    </fieldset>
                </div>

                <div class="clear-both"></div>
                <div class="btn-submit">
                    <button class="btn btn-info" (click)="submitAns()">Submit</button>
                </div>
            </div>
            <div *ngIf="isNotify">
                <div class="status-end">
                    <h3>Bài làm kết thúc</h3>
                    <button class="btn btn-default" [routerLink]="['']">Về trang chủ</button>
                    <button class="btn btn-primary" (click)="actionCheckAnswer()">Xem kết quả</button>
                </div>
            </div>

            <div *ngIf="checkAnswer" class="question-content">
                <ol>
                    <div class="question_answers" *ngFor="let q of unit.question">
                        <fieldset>
                            <ul>
                                <li class="testYourEnglish">
                                    <p>{{q.question}}</p>
                                    <ul>
                                        <li *ngFor="let ans of q.anwsers">
                                            <input type="radio" name="{{q._id}}" (click)="chooseAns(q._id, ans.ansId)">
                                            {{ans.ansId}}. {{ans.ansContent}}
                                            <label></label>
                                        </li><br>
                                    </ul>

                                </li>
                            </ul>
                        </fieldset>
                    </div>

                </ol>
                <span>Bạn trả lời đúng {{correctNumber}} câu</span>
            </div>
        </div>
    </div>
</div>