<div class="container">
    <div style="width: 100%;text-align: center;" *ngIf="unit">
        <h3>{{unit.unitTitle}}</h3>
        <img alt="" width="30%" height="30%" src="{{unit.unitThumbnail}}"><br>
        <span>{{unit.unitSubTitle}}</span><br>
        <span>{{unit.unitThreads}}</span>
        <p>Time: {{unit.unitTime}}</p>

        <audio src="../../public/demo.mp3" controls="controls">
        </audio><br>

        <button class="btn btn-primary" (click)="startTesting()">Start</button>

    </div>

    <div *ngIf="isTest">
        <div class="status-start">
            <h3>Bắt đầu làm bài</h3>
        </div>

        <div class="col-md-1 timer">
            <h5>Time Remain</h5>
            <h5>{{ticks}}</h5>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <ol>
                <div class="panel panel-default col m6 question_answers" *ngFor="let q of unit.question">
                    <li><label>{{q.question}}</label>
                        <ul>
                            <li *ngFor="let ans of q.anwsers"><input type="radio" name="cau1">{{ans.ansId}}. {{ans.ansContent}}</li>
                        </ul>
                    </li>
                </div>
            </ol>
        </div>
        <div class="clear-both"></div>
        <div class="btn-submit">
            <button class="btn btn-info">Submit</button>
        </div>
    </div>
    <div *ngIf="isNotify">
        <div class="status-end">
            <h3>Hết giờ làm bài</h3>
        </div>
    </div>
</div>
