<!--
  Generated template for the FightingPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar primary>
    <ion-title>Fighting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="curWord">
  <ion-card>
    <img src="img/advance-card-map-madison.png" style="max-height:250px;width:auto">
    <button fab fab-right fab-top>
      <ion-icon name="book"></ion-icon>
    </button>

    <ion-card-header>
      <h1 primary style="margin-right:20%;white-space:initial;font-weight:bold;font-size:2em">{{curWord.meaning}}</h1>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="selectedGame == 'r'">
        <reading-page [curWord]="curWord" [allWords]="allWords" (onCorrect)="onCorrect($event)"></reading-page>
      </div>
    </ion-card-content>
  </ion-card>







    <div *ngIf="selectedGame == 'w'">
      <writing-page [curWord]="curWord" [allWords]="allWords" (onCorrect)="onCorrect($event)"></writing-page>
    </div>
    <div *ngIf="selectedGame == 'l'">
      Game 2
      <listening-page [curWord]="curWord" [words]="words"></listening-page>
    </div>
    <div *ngIf="selectedGame == 's'">
      Game 3
      <speaking-page [curWord]="curWord" [words]="words"></speaking-page>
    </div>
  
  <!-- <button (click)="next()">Next</button> -->
</ion-content>
