<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div class="account-wall">
            <h1 class="text-center login-title">SIGN IN</h1>
                <form class="form-signin" (submit)="actionLogin(username.value, password.value)">
                    <div class="form-group">
                        <input type="text" #username class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" #password class="form-control" placeholder="Password" required>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            <a href="#" class="text-center new-account">Create an account </a>
            </div>
        </div>
    </div>
</div>
