<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 fix">
                <div class="form-res">
                    <img src="../../images/imgs/logore.png" alt="">
                    <hr>
                    <h3>Đăng nhập tài khoản của bạn</h3>
                    <p>Đăng nhập để nhận được các thông tin của Viademy</p>
                    <div class="fix-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email của bạn">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mật khẩu">
                        </div>
                    </div>

                    <button type="button" class="btn btn-success">Đăng nhập ngay</button>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</section>