<section id="register">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6 fix">
                <div class="form-res">
                    <img src="../../images/imgs/logore.png" alt="">
                    <hr>
                    <h3>Đăng ký thành viên mới</h3>
                    <p>Nhập thông tin của bạn để trở thành thành viên của Viademy</p>
                    <div class="fix-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Họ và Tên của bạn">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email của bạn">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nhập lại mật khẩu">
                        </div>
                    </div>

                    <button type="button" class="btn btn-success">Đăng ký là thành viên Viademy</button>
                    <hr>
                    <p>Đăng ký ngay bằng tài khoản mạng xã hội</p>
                    <button type="button" class="btn btn-primary ok">FACEBOOK</button>
                    <button type="button" class="btn btn-danger ok">GOOGLE</button>
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
</section>