#coursedetail{
		padding: 10px;
	    background-color: #f0f0f0;
	}
#coursedetail .cs_bg{
	border-top-right-radius: 8px;
    border-top-left-radius: 8px;
	background-color: #ffffff;
}
#coursedetail .cs_bg_bot{
	background-color: #ffffff;
}
#coursedetail .cs_bg h2 {
    color: #4c4c4c;
    font-size: 24px;    
}
#coursedetail .cs_bg p {
    color: #4c4c4c;      
}
#coursedetail .pad a {
    color: #ffce4a;
    text-decoration: none;
}
#coursedetail a:hover {
    color: #ffce4a;
    text-decoration: none;
}
#coursedetail .pad .gv{
	color: #1896cc;
	text-decoration: underline;
}
#coursedetail .pad .gv:hover {
    color: #ffce4a;
    text-decoration: none;
}
#coursedetail .cate_menu{
	color: #1896cc;
	text-decoration: underline;
}
#coursedetail .regit{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 18px;
	color: #4c4c4c;
}
#coursedetail .fix-pad{
	padding: 20px 10px 20px 20px;
}
#coursedetail .cs_bg_bot .fix-pad {
    padding: 25px 5px 25px 15px;
}
#coursedetail hr {
	margin-top: 0px;
	margin-bottom: 0px;
    height: 8px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#coursedetail .price {
    color: #fc4e41;
    font-size: 22px;
}
#coursedetail .old {
	padding-left: 10px;
	padding-right: 10px;
    color: #cfcfcf;
    font-size: 16px;
    text-decoration: line-through;
}
#coursedetail .discount {
    color: #cfcfcf;
    font-size: 16px;
    
}
#coursedetail .btn-success {
    color: #fff;
    background-color: #1aaf6e;
    border-color: #1aaf6e;
    width: 100%;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}
#coursedetail .voucher{
	margin-top: 15px;
}
#coursedetail .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1.5px solid #cfcfcf;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#coursedetail .table>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
#tab-course-content .table>tbody>tr>td {    
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
}
#coursedetail .fix-pad .b{
	color: #4c4c4c;
	font-size: 18px;
}
#coursedetail .policy{
	color: #1896cc;
	text-decoration: underline;
}
#tab-course{
	padding-top: 38px;
	background-color: #f6f6f6;
}
#tab-course-content h2{
	color: #4c4c4c;   
	padding-bottom: 25px; 
	padding-top: 10px;
}
#tab-course-content h4{
	color: #4c4c4c;   
	padding-bottom: 16px; 
	padding-top: 16px;
	font-weight: 400;
}
#tab-course-content .year{
	color: #4c4c4c;
	font-size: 18px;
}
#tab-course-content p{
	color: #4c4c4c;    
}  
#tab-course-content .all {
    color: #ffce4a;
    text-decoration: underline;
}
#tab-course .tabs_holder a {
    display: block;
    height: 24px;
    padding: 0px 40px;
    font-size: 16px;
    color: #999;
    text-decoration: none;
    outline: 0;
}
#tab-course-content .bg-rate{	
	margin-right: 20px;
    background-color: #f6f6f6;
    padding: 30px 0px 30px 20px;
}
#tab-course-content .bg-rate-left{	
	padding: 20px;
    background-color: #f6f6f6;
} 

#tab-course-content .bg-rate-right{
	padding: 20px;
    background-color: #f6f6f6;   
} 
#tab-course-content .fix-padd{
    padding-right: 0px !important;
    padding-left: 0px !important;
    }

#tab-course-content .circle{
    height: 148px;
    width: 154px;
    text-align: center;  
    color: #fc4e41;
    border-radius: 50%;
    border: 6px solid #ffce4a;
    background-color: #ffffff;
}

#tab-course-content .circle span{
	color: #fc4e41;  
  font-size: 50px;
  font-weight: bold;
}
#tab-course-content .circle .ct{
	padding-top: 35px;
}
#tab-course-content .circle .cris span{
  font-size: 16px;
  color: #ffce4a;
}

/*add*/
#tab-course-content h3 {
    color: #4c4c4c;
}
#tab-course-content .list-group {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid #ddd; 
    margin-right: -10px;
    margin-left: 20px;   
}
#tab-course-content .list-group:hover {text-decoration: none;  
}		
#tab-course-content .list-group.active {
    color: #1896cc;
    background-color: #f6f6f6;
    text-decoration: none;
}
#tab-course-content .list-group:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
#tab-course-content .img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: 5px;
}
#tab-course-content .tearch{
	color: #fc4e41;
}
#tab-course-content span {
    color: #ccc;
    font-size: 12px;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}
.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #D3D3D3;
    color: #FFFFFF;
}
.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}
/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}

.social-network a.icoYoutube:hover {
	background-color:#BD3518;
}

..social-network a.icoFacebook:hover i,
.social-network a.icoYoutube:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
#tab-course-content .social-class{
	padding-top: 20px;
}
