/* Master Styles */
body {
    font-family: 'Arial',Georgia,serif;
}

ul li {
    list-style-type: none;
}

@media (min-width: 1300px) {
    .container {
        width: 100% !important;
    }
}

.header {
    position: fixed;
    width: 100%;
    height: 63px;
    background: #ffffff;
    border: 1px solid #dedede;
    right: 0;
    left: 0;
}

.header ul li {
    float: left;
    padding: 20px 0;
    margin: 0 12px;
}

.header ul li a {
    text-decoration: none;
}

.header .search {
    width: 350px;
    height: 45px;
    border: 1px solid #dedede;
    margin-top: 7px;

}

.header ul li .sign-up {
    line-height: 16px;
    background: #428bca;
    padding: 15px 20px;
    margin-top: -14px;
    display: inline-block;
    color: #ffffff;;
}

.slider {
    height: 240px;
    background-image: url("../images/slider.jpg");
}

.partner-banner {
    padding-top: 25px;
    padding-bottom: 27px
}

.partner-logo:first-child {
    padding-left: 100px;
}

.wapper {
    background: #f5f5f5;
}

.list {
    margin-top: 90px;
    width: 95%;
}

.list .list-header {
    height: 36px;
    padding-left: 465px;
    margin-bottom: 40px;
}

.list .list-header h3 {
    font-size: 32px;
    line-height: 36px;
    font-family: 'Merriweather-Light',Georgia,serif;
}

.list .see-all {
}

.list .list-body .list-item {
    width: 240px;
    height: 350px;
    float: left;
}

.list .list-body .list-item .item {
    border: 1px solid #dedede;
    position: relative;
    width: 218px;
    height: 321px;
    cursor: pointer;
}

.list .list-body .list-item .item .flex {
    background: #ffffff;
    height: 319px;
}

.list-body .list-item .item .flex .side .image-container {
    height: 129px;
    background-image: url("../images/list-spec/item1.jpg");
    margin-bottom: 15px;
}

.list-body .list-item .item .flex .side .content .partner-names {
    color: #bba896;
    margin: 4px 0 8px;
    height: 17px;
    line-height: 17px;
    white-space: nowrap;
    font-size: 12px;
    padding-left: 15px;
}

.list-body .list-item .item .flex .side .content .offering-name{
    height: 24px;
    line-height: 24px;
    padding-left: 15px;
    font-size: 22px;
}

.list-body .list-item .item .flex .side-footer {
    padding: 90px 15px;
}

.footer {
    height: 250px;
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #dedede;
}

.footer div {
    margin-left: 80px;
}

.footer div h3 {
    padding-left: 38px;
}

.footer div ul li{
    padding-top: 20px;
}

.footer div ul li a {
    text-decoration: none;
    color: #897a91;
}

.account-wall{
    box-shadow: 5px 5px  5px 5px grey;
    padding: 10 10 10 10;
    margin-top: 20%;
}
.timer {
  border: 1px solid #E6E6E6;
  background-color: #FFFFCC;
  float: right;
  position: fixed;
  right: 70px;
  top: 70px;
  text-align: center;
}

.status-start{
    text-align: center;
    font-size: 12px;
}


.status-end{
    text-align: center;
}

.clear-both{
    clear: both;
}

.question_answers{
    background-color: #F0F0F0;
}

.btn-submit{
    text-align: center;
}
