/* Master Styles */
body {
    font-family: 'Arial',Georgia,serif;
    background: #f5f5f5;
}

ul li {
    list-style-type: none;
}

header{
    height: 55px;
    background: #ffffff;
    line-height: 55px;
}

header ul li {
    float: left;
}
header ul li a:hover{
    color: #0f7595;
}

.left ul li {
    width: 120px;
    text-align: center;
    padding-right: 15px;
}
.left ul li a {
    text-decoration: none;
    padding-left: 15px;
    font-weight: bold;
    color: #757575;
}
.logo {
    padding-right: 100px;
}

.right {
    float: right;
    clear: right;
}

.right ul li {
    padding-right: 20px;
}

.right ul li a {
    color: #757575;
    text-decoration: none;
    font-weight: bold;
}

.right ul li .sign-up {
    line-height: 15px;
    background: #428bca;
    padding: 12px 15px;
    margin-top: -14px;
    display: inline-block;
    color: #ffffff;;
}
.list-header {
    padding-bottom: 50px;
}

.search {
    height: 35px;
    position: relative;
    padding-top: 10px;
}
.search_text {
    height: 35px;
    line-height: 35px;
}

.search .btn {
    /*background-image: url("../images/search.png");*/
    /*background-position: 50% 50%;*/
    /*background-repeat: no-repeat;*/
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
}
.affix {
    top: 0;
    width: 100%;
}

.content h1 {
    text-align: center;
    padding: 30px 0 0 30px;
}

/*.list-course {*/
    /*height: 600px;*/
/*}*/

.list {
    width: 90%;
    margin: auto;
}

.course {
    width: 326px;
    height: 400px;
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: 20px;
    display: block;
    background: #ffffff;
    margin-bottom: 50px;
}

.course a {
    text-decoration: none;
    color: #757575;
}

.side-course {
    position: relative;
    overflow: hidden;
}

.side-course img {
    display: block;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    margin: 0;
    top: 0;
    left: 0;
    height: auto;
    z-index: 2;
}

.side-course img:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}

.desc-course .course-title {
    margin: 0;
    height: 130px;
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #CCCCCC;
    overflow: hidden;
    word-wrap: break-word;
    white-space: initial;
}

.course-time {
    position: absolute;
    padding: 10px;
    height: 50px;
}

.desc-course .course-time .time{
    float: left;
    padding-right: 145px;
}

.desc-course .course-time .view {
    float: right;
}

.footer {
    border-top: 1px solid #CCCCCC;
    background: #ffffff;
}

.footer .footer-wapper{
    margin: auto;
}

.footer .footer-wapper .footer-content {
    float: left;
    width: 360px;
    height: 300px;
    padding-top: 30px;
    margin-left: 12px;
    border-right: 1px solid #CCCCCC;
}

.footer .footer-wapper .footer-content h4 {
    padding-left: 40px;
}

.footer .footer-wapper .footer-content ul li {
    padding-top: 10px;
}
/*#search-button {*/
    /*width:30px;*/
    /*height: 30px;*/
    /*position: absolute;*/
/*}*/
/*.header-name{*/
    /*text-align: center;*/
/*}*/

/*.header ul li {*/
    /*float: left;*/
    /*padding: 20px 0;*/
    /*margin: 0 12px;*/
/*}*/

/*.header ul li a {*/
    /*text-decoration: none;*/
/*}*/

/*.header .search {*/
    /*width: 350px;*/
    /*height: 45px;*/
    /*border: 1px solid #dedede;*/
    /*margin-top: 7px;*/

/*}*/

/*.header ul li .sign-up {*/
    /*line-height: 16px;*/
    /*background: #428bca;*/
    /*padding: 15px 20px;*/
    /*margin-top: -14px;*/
    /*display: inline-block;*/
    /*color: #ffffff;;*/
/*}*/

/*.slider {*/
    /*height: 240px;*/
    /*background-image: url("../images/slider.jpg");*/
/*}*/

/*.partner-banner {*/
    /*padding-top: 25px;*/
    /*padding-bottom: 27px*/
/*}*/

/*.partner-logo:first-child {*/
    /*padding-left: 100px;*/
/*}*/

/*.list {*/
    /*margin-top: 90px;*/
    /*width: 100%;*/
/*}*/

/*.list .list-header h3 {*/
    /*text-align: center;*/
    /*font-size: 32px;*/
    /*line-height: 36px;*/
    /*font-family: 'Merriweather-Light',Georgia,serif;*/
/*}*/

/*.list .list-body .list-item .item-lesson {*/
    /*border: 1px solid #dedede;*/
    /*position: relative;*/
    /*width: 218px;*/
    /*height: 321px;*/
    /*cursor: pointer;*/
/*}*/

/*.list .list-body .list-item .item  {*/
    /*background: #ffffff;*/
    /*height: 50%;*/
/*}*/

/*.list-body .list-item .item .flex .side .image-container {*/
    /*height: 40%;*/
    /*background-image: url("../images/list-spec/item1.jpg");*/
    /*margin-bottom: 15px;*/
/*}*/

/*.list-body .list-item .item .flex .side .content .partner-names {*/
    /*color: #bba896;*/
    /*margin: 4px 0 8px;*/
    /*height: 17px;*/
    /*line-height: 17px;*/
    /*white-space: nowrap;*/
    /*font-size: 12px;*/
    /*padding-left: 15px;*/
/*}*/

/*.list-body .list-item .item .flex .side .content .offering-name{*/
    /*height: 24px;*/
    /*line-height: 24px;*/
    /*padding-left: 15px;*/
    /*font-size: 22px;*/
/*}*/

/*.list-body .list-item .item .flex .side-footer {*/
    /*padding: 90px 15px;*/
/*}*/

/*.footer {*/
    /*height: 150px;*/
    /*width: 100%;*/
    /*margin-top: 50px;*/
    /*border-top: 1px solid #dedede;*/
/*}*/

/*.footer .footer-content{*/
    /*margin-left: 2%;*/
/*}*/

/*.footer .footer-content h3 {*/
    /*padding-left: 10%;*/
/*}*/

/*.footer .footer-content ul li{*/
    /*padding-top: 2%;*/
/*}*/

/*.footer .footer-content ul li a {*/
    /*text-decoration: none;*/
    /*color: #897a91;*/
/*}*/

/*.account-wall{*/
    /*box-shadow: 5px 5px  5px 5px grey;*/
    /*padding: 10px;*/
    /*margin-top: 20%;*/
/*}*/

/*.timer {*/
    /*border: 1px solid #E6E6E6;*/
    /*background-color: #FFFFCC;*/
    /*float: right;*/
    /*position: fixed;*/
    /*right: 70px;*/
    /*top: 70px;*/
    /*text-align: center;*/
/*}*/

/*.status-start{*/
    /*text-align: center;*/
    /*font-size: 12px;*/
/*}*/


/*.status-end{*/
    /*text-align: center;*/
/*}*/

/*.clear-both{*/
    /*clear: both;*/
/*}*/

/*.question_answers{*/
    /*background-color: #F0F0F0;*/
/*}*/

/*.btn-submit{*/
    /*text-align: center;*/
/*}*/

/*.carousel-inner .active.left  { left: -33%;             }*/
/*.carousel-inner .active.right { left: 33%;              }*/
/*.carousel-inner .next         { left: 33%               }*/
/*.carousel-inner .prev         { left: -33%              }*/
/*.carousel-control.left        { background-image: none; }*/
/*.carousel-control.right       { background-image: none; }*/
/*.carousel-inner .item         { background: white;      }*/

/*.cont{*/
    /*background-image: url("../images/login_bg.jpg");*/
/*}*/

/*--------------Detail-------------*/

.timer {
    border: 1px solid #E6E6E6;
    background-color: #FFFFCC;
    float: right;
    position: fixed;
    right: 137px;
    top: 35px;
    text-align: center;
}

.player-inner {
    width: 95%;
    background: #ffffff;
    margin: 0 auto;
}

.player-inner .player-header {
    background: #007f86;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
    padding: 15px 0 0 50px;
}

.player-inner .player-title {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.player-inner .player-title .title h3{
    height: 40px;
    line-height: 40px;
    border: 1px dotted #333333;
    background: #e6e6e6;
}

.player-inner .player-title .title p {
    margin-top: 20px;
    font-size: 16px;
}

.player-inner .player-wrapper {
    width: 95%;
    margin: auto;
    background: #f2f2f2;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    font-size: 16px;
}

.player-wrapper h3 {
    text-align: center;
    padding-top: 4%;
}

.player-wrapper .audio {
    width: 650px;
    margin: auto;
    padding: 30px 0 30px 0;
}

.player-wrapper .audio img {
    margin-left: 200px;
}

.player-wrapper .audio button {
    margin-left: 250px;
}
.center {
    padding-left: 200px;
    /*padding-left: 200px;*/
}

.testYourEnglish p {
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 5px
}

.testYourEnglish ul li {
    margin: 10px 0;
}
