<!--
  Generated template for the Login component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<button ion-button (click)="login()">Login</button>
<button ion-button (click)="loginSilent()">Login Silent</button>
<button ion-button (click)="logout()">Log Out</button>
<button ion-button (click)="disconnect()">Disconnect</button>

<ion-list *ngIf="profile">
  <ion-item>
    <ion-avatar item-left>
      <img src="{{profile.imageUrl}}">
    </ion-avatar>
    <h2>{{profile.displayName}}</h2>
  </ion-item>
</ion-list>
