<!--
  Generated template for the Login component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->


  <ion-item *ngIf="isLogin">
    <ion-avatar item-left>
      <img src="{{profile.imageUrl}}">
    </ion-avatar>
    <h2>{{profile.displayName}}</h2>
  </ion-item>

  <button ion-item (click)="login()" *ngIf="!isLogin">
    <ion-icon name="log-in" ios="ios-log-in" md="md-log-in" item-left></ion-icon>
    Login with Google
  </button>

  <button ion-item *ngIf="isLogin" (click)="disconnect()">
    <ion-icon name="log-out" ios="ios-log-out" md="md-log-out" item-left></ion-icon>
    Logout Google
  </button>
