extends ../layout

block content
	h2 Writing
	h4 Choose Unit
	a.btn.btn-md.btn-warning(href="/lesson/writing/unit-1") Unit 1
	&nbsp;
	a.btn.btn-md.btn-warning(href="/lesson/writing/unit-2") Unit 2
	&nbsp;
	a.btn.btn-md.btn-warning(href="/lesson/writing/unit-3") Unit 3
	&nbsp;
	a.btn.btn-md.btn-warning(href="/lesson/writing/unit-4") Unit 4
	&nbsp;
	a.btn.btn-md.btn-warning(href="/lesson/writing/unit-5") Unit 5