page-sing {
	.singType {
		width: 50%;
		float: left;
		padding: 10px;
	}

	ion-item {
		border: none !important;
		.item-inner {
			border: none !important;
		}
	}
	.button-outline-md {
		background-color: #7E60FF;
		color: white;
		&:hover {
			background-color: #7F54D4 !important; 
		}
	}
}
