<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-mobile"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
                <img src="assets/images/logo.png" alt="Logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="menu-mobile">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Lớp môn học <span class="caret"></span></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="login"><a>Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</nav>