@import "../varialbles";

.navbar {
	border-radius: 0;
	background-color: $primary-color;
	box-shadow: 0 0 6px 0 rgba(17, 17, 17, 0.10);
	margin-bottom: 0;
	padding: 24px 0;

	.navbar-header {
		.navbar-toggle {
			border-color: #fff;

			.icon-bar {
				background-color: #fff;
			}
		}
	}

	.navbar-brand {
		padding-top: 0;
		padding-bottom: 0;

		img {
			max-height: 50px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	.navbar-right.nav {
		.login {
			a {
				border-radius: 5px;
				border: 1px solid #fff;
			}
		}

		> .user {
			> a {
				padding-top: 5px;
				padding-bottom: 5px;
			}

			.avatar {
				height: 40px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}

		a {
			padding-left: 20px;
			padding-right: 20px;

			&:after {
				display: none;
			}

			&:hover {
				&::after {
					display: none;
				}
			}
		}
	}

	.navbar-nav {
		> li {
			> a {
				background-color: transparent;
				color: #fff;
			}

			.dropdown-menu {
				border-radius: 6px;

				li {
					a {
						padding-top: 10px;
						padding-bottom: 10px;
					}
				}
			}
		}

		&.nav {
			> li {
				> a {
					padding-top: 15px;
					padding-bottom: 15px;
				}
			}
		}

		> li {
			> a {
				position: relative;

				&:after {
					transition: all 0.3s ease-out;
					width: 0;
					content: '';
					height: 1px;
					background-color: #fff;
					display: block;
					position: absolute;
					bottom: 10px;
					z-index: 2;
					left: 50%;
					transform: translateX(-50%);
				}

				&:hover, &:focus {
					color: #fff;

					&:after {
						width: 50%;
					}
				}
			}

		}
	}
}

.navbar-default .navbar-toggle {
	border: none;
}