page-google {
	.button-md {
		margin-top: 16px;
		margin-left: 16px;
		text-align: center;
		&:first-child {
			margin-top: 30px !important;
		}
	}

	input {
		margin-left: 16px;
		margin-bottom: 8px;
	}

}
