extends ../layout

block content
	h2 Listening
	h4 Choose Unit
	a.btn.btn-md.btn-primary(href="/lesson/listening/unit-1") Unit 1
	&nbsp;
	a.btn.btn-md.btn-primary(href="/lesson/listening/unit-2") Unit 2
	&nbsp;
	a.btn.btn-md.btn-primary(href="lesson/listening/unit-3") Unit 3
	&nbsp;
	a.btn.btn-md.btn-primary(href="/lesson/listening/unit-4") Unit 4
	&nbsp;
	a.btn.btn-md.btn-primary(href="/lesson/listening/unit-5") Unit 5