doctype html
html
	head
		title Login
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.css')
	body
		.container
			.row
				.col-md-4
				.col-md-4
					include ../message.jade
					.panel.panel-primary
						.panel-heading
							h3.panel-title Login
						.panel-body
							img(src="/images/avatar.jpg" width="100" height="100").img-circle.img-responsive.center-block
							form.form-signin(role="form", method="post", action="/users/login")
								label UserName
								input.form-control#inputUsername(type='text', placeholder='Username', name="username")
								label Password
								input.form-control#inputPassword(type='password', placeholder='Password', name="password")
								&nbsp;
								button.btn.btn-lg.btn-primary.btn-block(type="submit") Log In
								br
								a.btn.btn-success.btn-md(href='/users/register') Register
								&nbsp;
								a(href="/") Home
				.col-md-4
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/angular.js')
		script(src='/javascripts/bootstrap.js')
		script(src='/javascripts/myapp.js')
