<div class="container">
    <h3>Lý thuyết</h3>
    <nav>
        <ul>
            <li><a [routerLink]="['../theory','listen']" routerLinkActive="active">Kỹ năng nghe</a></li>
            <li><a routerLink="" routerLinkActive="active">Kỹ năng nói</a></li>
            <li><a routerLink="" routerLinkActive="active">Kỹ năng đọc</a></li>
            <li><a routerLink="" routerLinkActive="active">Kỹ năng viết</a></li>
            <li><a routerLink="" routerLinkActive="active">Ngữ pháp</a></li>
        </ul>
    </nav>
    <footer>
        <span>Accesstoken: {{auth_token}}</span>

    </footer>
</div>