extends ../layout

block content
	h2 Reading
	h4 Choose Unit
	a.btn.btn-md.btn-success(href="/lesson/reading/unit-1") Unit 1
	&nbsp;
	a.btn.btn-md.btn-success(href="/lesson/reading/unit-2") Unit 2
	&nbsp;
	a.btn.btn-md.btn-success(href="/lesson/reading/unit-3") Unit 3
	&nbsp;
	a.btn.btn-md.btn-success(href="/lesson/reading/unit-4") Unit 4
	&nbsp;
	a.btn.btn-md.btn-success(href="/lesson/reading/unit-5") Unit 5