img.center{
	display: block;
    margin: 0 auto;
}
h3.center{
	display: block;
    margin: 0 auto;
}
.content{
	position: relative;
	margin: 0 auto;
	padding-bottom: 10px;
	height: 1000px;
}

.footer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 10px;
	background-color: #222;
	text-align: left;
	color:white;
	height: 200px
}