page-learning {
  .content {
    font-size: 210%;
    font-weight: bold;
    white-space: initial !important;
  }

  .meaning {
    font-size: 140% !important;
    white-space: initial;
    text-align: justify;
  }

  .nav-button {
    height: 35px !important;
  }

  .content {
    font-family: 'Noto Sans';
    font-size: 40px;
    margin-bottom: 10px;
  }
}
