<ion-header>
  <ion-navbar primary>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Unit</ion-title>
  </ion-navbar>

  <ion-grid @actionState="actionState" *ngIf="selectedUnit" style="position:fixed;bottom:0px;background:rgba(210, 210, 210, 0.5)">
    <ion-row>
      <ion-col width-50>
        <button [disabled]="!selectedUnit" (click)="enterTraining()" block>Learn</button>
      </ion-col>
      <ion-col width-50>  
        <button [disabled]="!selectedUnit" (click)="enterFighting()" block>Play</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-list radio-group [(ngModel)]="selectedUnit">
    <ion-list-header>
      Choose a unit
    </ion-list-header>
    <ion-item *ngFor="let item of units">
      <ion-label>{{item.name}}</ion-label>
      <ion-radio value="{{item.id}}"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
