<div class="wrapper">
	<!-- Header Area -->
	<div class="header">
		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" [routerLink]="['']">English Learning</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li><a [routerLink]="['/listening']">Listening</a></li>
						<li><a [routerLink]="['/speaking']">Speaking</a></li>
						<li><a [routerLink]="['/reading']">Reading</a></li>
						<li><a [routerLink]="['/writing']">Writing</a></li>
						<li><a [routerLink]="['/about']">About Us</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div>
		</nav>
	</div>
	<!-- End Header area -->
	<!-- Content Area -->
	<div class="content">
		<router-outlet></router-outlet>
	</div>
	<!-- Footer Area -->
	<div class="footer">
		<div class="container">
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
				<h2 class="text-center">About Us</h2>
				<p class="text-center">Products developed by VAT team</p>
				<p class="text-center">Download source code at <b><a target="_blank" href="https://github.com/cuongk58uet/englishlearning">here</a></b></p>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
				<h2 class="text-center">Products</h2>
				<p>This is simple project using Angular2 ExpressJS and MongoDB. Our website provides basic and advanced lessons will help user improve English skills.</p>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
				<h2 class="text-center">References</h2>
				<p class="text-center"><a href="http://englishtestprepreview.com/" target="_blank">englishtestprepreview.com</a></p>
				<p class="text-center"><a href="http://mstuyenenglish.edu.vn/" target="_blank"> mstuyenenglish.edu.vn</a></p>
				<p class="text-center"><a href="http://englishteststore.net/" target="_blank">englishteststore.net</a></p>
			</div>
		</div>
	</div>
</div>


