<html>
<head>
    <title>Thêm bài thi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Enguliz CMS</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="home">Trang chủ</a></li>
                <li class="active"><a href="add">Thêm bài</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form class="form-horizontal" action="add" method="post" accept-charset="utf-8">
            <div class="form-group">
                <label class="control-label col-sm-2" for="unit">Chọn mục:</label>
                <div class="col-sm-10">
                    <select class="form-control" name="category">
                        <option value="Listening">Listening</option>
                        <option value="Reading">Reading</option>
                        <option value="Grammar">Grammar</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2" for="unit">Tên:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="unit" name="unit" placeholder="Nhập tên bài thi">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Mô tả:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" name="description" placeholder="Mô tả ngắn gọn">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="image">Hình ảnh:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="image" name="image" placeholder="URL Hình ảnh">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="thread">Đề bài</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="thread" name="thread" placeholder="Đề bài">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="attach">Đính kèm</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="attach" name="attach" placeholder="File đính kèm">
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Lưu</button>
                </div>
            </div>

        </form>
    </div>
</body>
</html>
