<html>
<head>
    <title>Thêm bài thi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Enguliz CMS</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="home">Trang chủ</a></li>
            <li ><a href="add">Thêm bài</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>Danh sách</h3>

    <#table></#table>


</div>
</body>
</html>