<div class="container">
	<h2 style="margin-left: 220px">VAT Team</h2>
	<div class="col-md-4">
		<img src="default_avatar.png" class="img img-circle" height="200px" alt="">
		<h4>Nguyễn Mạnh Cường</h4>
		<h4>K58 UET-VNU</h4>
		<h5>Email: <a href="mailto:cuongnm4215@gmail.com">cuongnm4215@gmail.com</a></h5>

	</div>
	<div class="col-md-4">
		<img src="default_avatar.png" class="img img-circle" height="200px" alt="">
		<h4>Kiều Trọng Vĩnh</h4>
		<h4>K58 UET-VNU</h4>
		<h5>Email: <a href="mailto:vinhkieu293@gmail.com">vinhkieu293@gmail.com</a></h5>
	</div>
</div>