<ion-grid>
  <ion-row> 
    <ion-col width-100 style="height:auto; text-align:center">
      <div style="font-size: 240%; text-align: center">
      <ion-icon *ngIf="percent < 15" name="ios-star-outline"></ion-icon>
      <ion-icon style="color: #387ef5" *ngIf="percent >= 15" name="star"></ion-icon>

      <ion-icon *ngIf="percent < 30" name="ios-star-outline"></ion-icon>
      <ion-icon style="color: #387ef5" *ngIf="percent >= 30" name="star"></ion-icon>
      
      <ion-icon *ngIf="percent < 45" name="ios-star-outline"></ion-icon>
      <ion-icon style="color: #387ef5" *ngIf="percent >= 45" name="star"></ion-icon>
      
      <ion-icon *ngIf="percent < 60" name="ios-star-outline"></ion-icon>
      <ion-icon style="color: #387ef5" *ngIf="percent >= 60" name="star"></ion-icon>
      
      <ion-icon *ngIf="percent < 80" ng-if name="ios-star-outline"></ion-icon>
      <ion-icon style="color: #387ef5" *ngIf="percent >= 80" name="star"></ion-icon>
    </div>

    <button ion-fab fab-center outline style="margin-top: 30px; color: red; text-align: middle" (click)="record()">
      <ion-icon name="{{texts}}"></ion-icon>
    </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <button ion-button (click)="skip()" block round>Skip</button>
  </ion-row>
</ion-grid>
