<div class="container">
	<!-- Slide Area -->
	<div class="container" style="margin-left:-13px">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/listening.png" class="img img-rounded">
					<div class="carousel-caption">
						<h3>Listening</h3>
						<p>Improve your English listening skills by listening to audio clips of thematic content and choose the correct answer to each question. <a [routerLink]="['/listening']" class="btn btn-lg btn-success" style="float:right">Try it !</a></p>
					</div>
				</div>
				<!-- End Item -->
				<div class="item">
					<img src="images/speaking.png" class="img img-rounded">
					<div class="carousel-caption">
						<h3>Speaking</h3>
						<p>Improve your English speaking skills by giving you the talk topics. In certain time, you have to prepare content to talk about the subject you receive. <a [routerLink]="['/speaking']" class="btn btn-lg btn-success" style="float: right">Try it !</a></p>
					</div>
				</div>
				<!-- End Item -->
				<div class="item">
					<img src="images/reading.png" class="img img-rounded">
					<div class="carousel-caption">
						<h3>Reading</h3>
						<p>Improve your English reading skills by giving the passages on each particular topic. You will read passages and answer the following questions. <a [routerLink]="['/reading']" class="btn btn-lg btn-success" style="float: right">Try it !</a></p>
					</div>
				</div>
				<!-- End Item -->
				<div class="item">
					<img src="images/writing.png" class="img img-rounded">
					<div class="carousel-caption">
						<h3>Writing</h3>
						<p>Improve your grammar and the ability to develop your ideas by offering diverse topics. <a [routerLink]="['/writing']" class="btn btn-lg btn-success" style="float: right">Try it !</a></p>
					</div>
				</div>
				<!-- End Item -->
			</div>
			<!-- End Carousel Inner -->
			<br>
			<ul class="nav nav-pills nav-justified">
				<li data-target="#myCarousel" data-slide-to="0"><a href="#"><b>Listening</b></a></li>
				<li data-target="#myCarousel" data-slide-to="1"><a href="#"><b>Speaking</b></a></li>
				<li data-target="#myCarousel" data-slide-to="2"><a href="#"><b>Reading</b></a></li>
				<li data-target="#myCarousel" data-slide-to="3"><a href="#"><b>Writing</b></a></li>
			</ul>
		</div>
		<!-- End Carousel -->
	</div>
	<!-- End Slide area -->
	<br><br><br>
</div>

<script src="js/jquery/dist/jquery.min.js"></script>
<script src="css/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/design.js"></script>