<ion-header>
  <ion-navbar primary>
    <ion-title>Learn</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="curWord">
    <img src="img/advance-card-map-madison.png">
    <button fab fab-right fab-top>
      <ion-icon name="star"></ion-icon>
    </button>

    <ion-item>
      <h1 primary style="font-size:200%;font-weight:bold">{{curWord.content}}</h1>
      <p style="font-size:170%;white-space:initial;text-align:justify">{{curWord.meaning}}</p>
      <button clear (click)="speak()">
        <ion-icon name="volume-up"></ion-icon>
      </button>
    </ion-item>

    <ion-item>
      <button item-left round outline [disabled]="isBegin()" (click)="previous()">
        <ion-icon name="arrow-back"></ion-icon>
        Previous
      </button>
      <button item-right round outline *ngIf="!isEnd()" (click)="next()">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
      <button item-right round *ngIf="isEnd()" (click)="enterFightingPage()">
        Play
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-card>
</ion-content>
