extends ../layout

block content
	h2 Speaking
	h4 Choose Unit
	a.btn.btn-md.btn-info(href="/lesson/speaking/unit-1") Unit 1
	&nbsp;
	a.btn.btn-md.btn-info(href="/lesson/speaking/unit-2") Unit 2
	&nbsp;
	a.btn.btn-md.btn-info(href="/lesson/speaking/unit-3") Unit 3
	&nbsp;
	a.btn.btn-md.btn-info(href="/lesson/speaking/unit-4") Unit 4
	&nbsp;
	a.btn.btn-md.btn-info(href="/lesson/speaking/unit-5") Unit 5